{% extends 'hello/base.html' %}


{% block title %}
    Hello world
{% endblock %}

{% block content %}
    <h1>{{ greeting }}</h1>

    <h1>{{ my_func }}</h1>
    <ul>
        {% for item in my_array %}
            <li>
                {{ item }}
            </li>
        {% endfor %}
    </ul>

    <h1>
        If example
    </h1>
    {% if condition %}
        <p>condition is true</p>
    {% else %}
        <p>condition is false</p>
    {% endif %}

    {% include "hello/includes/footer.html" %}

    <h1>
    Greetings
    </h1>
    <ul>
        {% for greet in greetings %}
            <li>
                {{ greet.message }}
            </li>
        {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        {{ greeting_form }}
        <input type="submit"/>
    </form>

{% endblock %}